node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log
coverage
playwright-report
test-results
.vscode
.idea
*.log
**/.DS_Store
README.md
.github
Dockerfile
.dockerignore
tests/e2e
